Repository rsksmart/rskj, pull requests merged in 2018-03, with the labels that each got.

#476 Static call
  rskj-core/src/main/java/co/rsk/config/RskSystemProperties.java
  rskj-core/src/main/java/co/rsk/config/VmConfig.java
  rskj-core/src/main/java/co/rsk/mine/MinerServerImpl.java
  rskj-core/src/main/java/co/rsk/net/NodeMessageHandler.java
  rskj-core/src/main/java/co/rsk/peg/PendingFederation.java
  rskj-core/src/main/java/org/ethereum/config/BlockchainConfig.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/AbstractConfig.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/DevNetConfig.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/RegTestConfig.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/mainnet/MainNetFirstForkConfig.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/testnet/TestNetFirstForkConfig.java
  rskj-core/src/main/java/org/ethereum/core/Block.java
  rskj-core/src/main/java/org/ethereum/vm/MessageCall.java
  rskj-core/src/main/java/org/ethereum/vm/OpCode.java
  rskj-core/src/main/java/org/ethereum/vm/OpCodes.java
  rskj-core/src/main/java/org/ethereum/vm/VM.java
  rskj-core/src/main/java/org/ethereum/vm/program/Program.java
  rskj-core/src/main/java/org/ethereum/vm/program/invoke/ProgramInvoke.java
  rskj-core/src/main/java/org/ethereum/vm/program/invoke/ProgramInvokeFactory.java
  rskj-core/src/main/java/org/ethereum/vm/program/invoke/ProgramInvokeFactoryImpl.java
  rskj-core/src/main/java/org/ethereum/vm/program/invoke/ProgramInvokeImpl.java
  rskj-core/src/test/java/co/rsk/core/TransactionTest.java
  rskj-core/src/test/java/co/rsk/mine/MinerServerTest.java
  rskj-core/src/test/java/co/rsk/peg/BridgeFromVMTest.java
  rskj-core/src/test/java/co/rsk/peg/PendingFederationTest.java
  rskj-core/src/test/java/co/rsk/trie/TrieImplTrieSerializationTests.java
  rskj-core/src/test/java/co/rsk/trie/delete/SecureTrieImplHashTest.java
  rskj-core/src/test/java/co/rsk/trie/delete/TrieImplHashTest.java
  rskj-core/src/test/java/co/rsk/vm/BytecodeCompiler.java
  rskj-core/src/test/java/co/rsk/vm/BytecodeCompilerTest.java
  rskj-core/src/test/java/co/rsk/vm/VMExecutionTest.java
  rskj-core/src/test/java/org/ethereum/jsontestsuite/TestProgramInvokeFactory.java
  rskj-core/src/test/java/org/ethereum/vm/VMTest.java
  rskj-core/src/test/java/org/ethereum/vm/program/invoke/ProgramInvokeMockImpl.java
Labels: network-upgrade 🌱

#507 Sync timeouts
  rskj-core/src/main/java/co/rsk/core/RskFactory.java
  rskj-core/src/main/java/co/rsk/net/BlockSyncService.java
  rskj-core/src/main/java/co/rsk/net/CheckingBestHeaderSyncState.java
  rskj-core/src/main/java/co/rsk/net/NodeBlockProcessor.java
  rskj-core/src/main/java/co/rsk/net/NodeMessageHandler.java
  rskj-core/src/main/java/co/rsk/net/SyncProcessor.java
  rskj-core/src/main/java/co/rsk/net/sync/DownloadingBodiesSyncState.java
  rskj-core/src/main/java/co/rsk/net/sync/DownloadingHeadersSyncState.java
  rskj-core/src/main/java/co/rsk/net/sync/DownloadingSkeletonSyncState.java
  rskj-core/src/main/java/co/rsk/net/sync/FindingConnectionPointSyncState.java
  rskj-core/src/main/java/co/rsk/net/sync/PeersInformation.java
  rskj-core/src/main/java/co/rsk/net/sync/SyncEventsHandler.java
  rskj-core/src/main/java/co/rsk/net/sync/SyncInformation.java
  rskj-core/src/main/java/co/rsk/net/sync/SyncPeerStatus.java
  rskj-core/src/main/java/co/rsk/scoring/PeerScoring.java
  rskj-core/src/main/java/co/rsk/scoring/ScoringCalculator.java
  rskj-core/src/main/java/org/ethereum/net/server/ChannelManager.java
  rskj-core/src/main/java/org/ethereum/net/server/ChannelManagerImpl.java
  rskj-core/src/main/java/org/ethereum/net/submit/TransactionTask.java
  rskj-core/src/test/java/co/rsk/net/BlockSyncServiceTest.java
  rskj-core/src/test/java/co/rsk/net/NodeMessageHandlerTest.java
  rskj-core/src/test/java/co/rsk/net/NodeMessageHandlerUtil.java
  rskj-core/src/test/java/co/rsk/net/OneAsyncNodeTest.java
  rskj-core/src/test/java/co/rsk/net/SyncPeerStatusTest.java
  rskj-core/src/test/java/co/rsk/net/SyncProcessorTest.java
  rskj-core/src/test/java/co/rsk/net/simples/SimpleAsyncNode.java
  rskj-core/src/test/java/co/rsk/net/sync/DecidingSyncStateTest.java
  rskj-core/src/test/java/co/rsk/net/sync/SimpleSyncEventsHandler.java
  rskj-core/src/test/java/co/rsk/net/sync/SimpleSyncInformation.java
  rskj-core/src/test/java/co/rsk/scoring/PeerScoringManagerTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Simples/SimpleChannelManager.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplTest.java
  rskj-core/src/test/java/org/ethereum/util/RskMockFactory.java
Labels: core

#501 Fix TransactionResultDTO Remasc sender serialization
  rskj-core/src/main/java/org/ethereum/rpc/dto/TransactionResultDTO.java
  rskj-core/src/test/java/org/ethereum/rpc/dto/TransactionResultDTOTest.java
Labels: core

#504 Web3 method filter fix
  rskj-core/src/main/java/co/rsk/rpc/JsonRpcMethodFilter.java
  rskj-core/src/main/java/co/rsk/rpc/netty/JsonRpcWeb3ServerHandler.java
  rskj-core/src/test/java/co/rsk/rpc/JsonRpcMethodFilterTest.java
Labels: bug

#497 TxPool methods implemented
  rskj-core/src/main/java/co/rsk/rpc/modules/txpool/TxPoolModuleImpl.java
  rskj-core/src/test/java/co/rsk/rpc/Web3RskImplTest.java
  rskj-core/src/test/java/co/rsk/rpc/modules/txpool/TxPoolModuleImplTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplLogsTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplScoringTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplSnapshotTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplTest.java
Labels: core

#515 Remove unused Functional, CollectionUtils, ExecutorPipeline
  rskj-core/src/main/java/org/ethereum/util/CollectionUtils.java
  rskj-core/src/main/java/org/ethereum/util/ExecutorPipeline.java
  rskj-core/src/main/java/org/ethereum/util/Functional.java
Labels: tech debt & clean code
