Repository rsksmart/rskj, pull requests merged in 2019-09, with the labels that each got.

#996 Hook up BlockChainFlusher to onBestBlock event
  rskj-core/src/main/java/co/rsk/RskContext.java
  rskj-core/src/main/java/co/rsk/config/RskSystemProperties.java
  rskj-core/src/main/java/co/rsk/core/bc/BlockChainFlusher.java
  rskj-core/src/main/java/co/rsk/core/bc/BlockChainImpl.java
  rskj-core/src/main/java/org/ethereum/core/genesis/BlockChainLoader.java
  rskj-core/src/test/java/co/rsk/config/RskSystemPropertiesTest.java
  rskj-core/src/test/java/co/rsk/core/bc/BlockChainFlusherTest.java
  rskj-core/src/test/java/co/rsk/test/builders/BlockChainBuilder.java
  rskj-core/src/test/java/org/ethereum/core/ImportLightTest.java
  rskj-core/src/test/java/org/ethereum/jsontestsuite/TestRunner.java
  rskj-core/src/test/java/org/ethereum/jsontestsuite/runners/StateTestRunner.java
Labels: core :atom_symbol:

#1006 Fix database reset behavior
  rskj-core/src/main/java/co/rsk/RskContext.java
Labels: bug, core :atom_symbol:

#1010 Messages cleanup
  rskj-core/src/main/java/co/rsk/RskContext.java
  rskj-core/src/main/java/co/rsk/net/MessageChannel.java
  rskj-core/src/main/java/co/rsk/net/NodeBlockProcessor.java
  rskj-core/src/main/java/co/rsk/net/eth/EthMessageSender.java
  rskj-core/src/main/java/co/rsk/net/eth/RskWireProtocol.java
  rskj-core/src/main/java/org/ethereum/listener/CompositeEthereumListener.java
  rskj-core/src/main/java/org/ethereum/listener/EthereumListener.java
  rskj-core/src/main/java/org/ethereum/listener/EthereumListenerAdapter.java
  rskj-core/src/main/java/org/ethereum/net/NodeStatistics.java
  rskj-core/src/main/java/org/ethereum/net/eth/handler/Eth.java
  rskj-core/src/main/java/org/ethereum/net/eth/handler/EthAdapter.java
  rskj-core/src/main/java/org/ethereum/net/eth/handler/EthHandler.java
  rskj-core/src/main/java/org/ethereum/net/p2p/P2pHandler.java
  rskj-core/src/main/java/org/ethereum/net/server/Channel.java
  rskj-core/src/main/java/org/ethereum/net/server/ChannelManager.java
  rskj-core/src/main/java/org/ethereum/net/server/ChannelManagerImpl.java
  rskj-core/src/main/java/org/ethereum/sync/SyncPool.java
  rskj-core/src/main/resources/reference.conf
  rskj-core/src/test/java/co/rsk/core/bc/BlockExecutorTest.java
  rskj-core/src/test/java/co/rsk/net/NodeMessageHandlerTest.java
  rskj-core/src/test/java/co/rsk/net/eth/RskWireProtocolTest.java
  rskj-core/src/test/java/co/rsk/net/simples/SimpleMessageChannel.java
  rskj-core/src/test/java/co/rsk/net/simples/SimpleNodeChannel.java
  rskj-core/src/test/java/org/ethereum/net/server/ChannelManagerImplTest.java
  rskj-core/src/test/java/org/ethereum/net/server/ChannelTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Simples/SimpleChannelManager.java
Labels: config-change, tech debt & clean code
