Repository rsksmart/rskj, pull requests merged in 2019-05, with the labels that each got.

#822 RSKIP123 Multiple fed keys (BTC, RSK & MST)
  rskj-core/src/main/java/co/rsk/config/BridgeDevNetConstants.java
  rskj-core/src/main/java/co/rsk/config/BridgeMainNetConstants.java
  rskj-core/src/main/java/co/rsk/config/BridgeRegTestConstants.java
  rskj-core/src/main/java/co/rsk/config/BridgeTestNetConstants.java
  rskj-core/src/main/java/co/rsk/peg/Bridge.java
  rskj-core/src/main/java/co/rsk/peg/BridgeBtcWallet.java
  rskj-core/src/main/java/co/rsk/peg/BridgeMethods.java
  rskj-core/src/main/java/co/rsk/peg/BridgeSerializationUtils.java
  rskj-core/src/main/java/co/rsk/peg/BridgeStorageConfiguration.java
  rskj-core/src/main/java/co/rsk/peg/BridgeStorageProvider.java
  rskj-core/src/main/java/co/rsk/peg/BridgeSupport.java
  rskj-core/src/main/java/co/rsk/peg/Federation.java
  rskj-core/src/main/java/co/rsk/peg/FederationMember.java
  rskj-core/src/main/java/co/rsk/peg/FederationSupport.java
  rskj-core/src/main/java/co/rsk/peg/PendingFederation.java
  rskj-core/src/main/java/co/rsk/peg/utils/BridgeEventLoggerImpl.java
  rskj-core/src/main/java/co/rsk/remasc/RemascFederationProvider.java
  rskj-core/src/main/java/org/ethereum/config/BlockchainConfig.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/AbstractConfig.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/devnet/DevNetSecondForkConfig.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/mainnet/MainNetSecondForkConfig.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/regtest/RegTestSecondForkConfig.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/testnet/TestNetSecondForkConfig.java
  rskj-core/src/main/java/org/ethereum/config/net/AbstractNetConfig.java
  rskj-core/src/test/java/co/rsk/peg/BridgeSerializationUtilsTest.java
  rskj-core/src/test/java/co/rsk/peg/BridgeStorageProviderTest.java
  rskj-core/src/test/java/co/rsk/peg/BridgeSupportTest.java
  rskj-core/src/test/java/co/rsk/peg/BridgeTest.java
  rskj-core/src/test/java/co/rsk/peg/BridgeUtilsTest.java
  rskj-core/src/test/java/co/rsk/peg/FederationMemberTest.java
  rskj-core/src/test/java/co/rsk/peg/FederationSupportTest.java
  rskj-core/src/test/java/co/rsk/peg/FederationTest.java
  rskj-core/src/test/java/co/rsk/peg/FederationTestUtils.java
  rskj-core/src/test/java/co/rsk/peg/PegTestUtils.java
  rskj-core/src/test/java/co/rsk/peg/PendingFederationTest.java
  rskj-core/src/test/java/co/rsk/peg/performance/ActiveFederationTest.java
  rskj-core/src/test/java/co/rsk/peg/performance/FederationChangeTest.java
  rskj-core/src/test/java/co/rsk/peg/performance/PendingFederationTest.java
  rskj-core/src/test/java/co/rsk/peg/performance/RetiringFederationTest.java
  rskj-core/src/test/java/co/rsk/peg/utils/BridgeEventLoggerImplTest.java
Labels: federation 💫

#823 Shifting op codes
  rskj-core/src/main/java/org/ethereum/config/BlockchainConfig.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/AbstractConfig.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/devnet/DevNetSecondForkConfig.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/mainnet/MainNetSecondForkConfig.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/regtest/RegTestSecondForkConfig.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/testnet/TestNetSecondForkConfig.java
  rskj-core/src/main/java/org/ethereum/util/ByteUtil.java
  rskj-core/src/main/java/org/ethereum/vm/DataWord.java
  rskj-core/src/main/java/org/ethereum/vm/OpCode.java
  rskj-core/src/main/java/org/ethereum/vm/OpCodes.java
  rskj-core/src/main/java/org/ethereum/vm/VM.java
  rskj-core/src/test/java/co/rsk/vm/VMExecutionTest.java
Labels: VM, core

#817 Hundreds of state tests added again.
  rskj-core/TestGeneration/libethereum/StateTestsFiller/stSystemOperationsTestFiller.json
  rskj-core/src/test/java/co/rsk/jsontestsuite/LocalStateTest.java
  rskj-core/src/test/java/org/ethereum/jsontestsuite/GitHubJSONTestSuite.java
  rskj-core/src/test/java/org/ethereum/jsontestsuite/TestRunner.java
  rskj-core/src/test/java/org/ethereum/jsontestsuite/runners/StateTestRunner.java
  rskj-core/src/test/java/org/ethereum/jsontestsuite/validators/AccountValidator.java
  rskj-core/src/test/java/org/ethereum/jsontestsuite/validators/BlockHeaderValidator.java
  rskj-core/src/test/java/org/ethereum/jsontestsuite/validators/LogsValidator.java
  rskj-core/src/test/java/org/ethereum/jsontestsuite/validators/OutputValidator.java
  rskj-core/src/test/java/org/ethereum/jsontestsuite/validators/RepositoryValidator.java
  rskj-core/src/test/java/org/ethereum/jsontestsuite/validators/ValidationStats.java
  rskj-core/src/test/resources/json/StateTests/stSystemOperationsTest.json
Labels: tech debt & clean code

#819 RFS-329 - ReceiveHeaders dynamic gas cost
  rskj-core/src/main/java/co/rsk/peg/Bridge.java
  rskj-core/src/test/java/co/rsk/peg/BridgeTest.java
  rskj-core/src/test/java/co/rsk/peg/performance/ReceiveHeadersTest.java
Labels: federation 💫

#843 Remove deprecated BlockchainConfig classes
  rskj-core/src/main/java/co/rsk/FullNodeRunner.java
  rskj-core/src/main/java/co/rsk/RskContext.java
  rskj-core/src/main/java/co/rsk/core/TransactionExecutorFactory.java
  rskj-core/src/main/java/co/rsk/core/bc/TransactionPoolImpl.java
  rskj-core/src/main/java/co/rsk/net/handler/TxPendingValidator.java
  rskj-core/src/main/java/co/rsk/net/handler/txvalidator/TxValidatorIntrinsicGasLimitValidator.java
  rskj-core/src/main/java/co/rsk/pcc/ExecutionEnvironment.java
  rskj-core/src/main/java/co/rsk/pcc/NativeContract.java
  rskj-core/src/main/java/co/rsk/pcc/blockheader/BlockHeaderContract.java
  rskj-core/src/main/java/co/rsk/peg/Bridge.java
  rskj-core/src/main/java/co/rsk/peg/BridgeMethods.java
  rskj-core/src/main/java/co/rsk/peg/BridgeStorageConfiguration.java
  rskj-core/src/main/java/co/rsk/peg/BridgeUtils.java
  rskj-core/src/main/java/co/rsk/remasc/RemascTransaction.java
  rskj-core/src/main/java/org/ethereum/config/BlockchainConfig.java
  rskj-core/src/main/java/org/ethereum/config/BlockchainNetConfig.java
  rskj-core/src/main/java/org/ethereum/config/SystemProperties.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/BlockchainConfigImpl.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/upgrades/ActivationConfig.java
  rskj-core/src/main/java/org/ethereum/core/Transaction.java
  rskj-core/src/main/java/org/ethereum/core/TransactionExecutor.java
  rskj-core/src/main/java/org/ethereum/vm/PrecompiledContracts.java
  rskj-core/src/main/java/org/ethereum/vm/VM.java
  rskj-core/src/main/java/org/ethereum/vm/program/Program.java
  rskj-core/src/test/java/co/rsk/TestHelpers/Tx.java
  rskj-core/src/test/java/co/rsk/core/bc/BlockValidatorBuilder.java
  rskj-core/src/test/java/co/rsk/mine/MainNetMinerTest.java
  rskj-core/src/test/java/co/rsk/mine/MinerServerTest.java
  rskj-core/src/test/java/co/rsk/net/handler/txvalidator/TxValidatorAccountBalanceValidatorTest.java
  rskj-core/src/test/java/co/rsk/net/handler/txvalidator/TxValidatorIntrinsicGasLimitValidatorTest.java
  rskj-core/src/test/java/co/rsk/pcc/NativeContractTest.java
  rskj-core/src/test/java/co/rsk/pcc/blockheader/BlockHeaderContractTest.java
  rskj-core/src/test/java/co/rsk/pcc/blockheader/GetCoinbasePerformanceTestCase.java
  rskj-core/src/test/java/co/rsk/peg/BridgeStateTest.java
  rskj-core/src/test/java/co/rsk/peg/BridgeStorageProviderTest.java
  rskj-core/src/test/java/co/rsk/peg/BridgeTest.java
  rskj-core/src/test/java/co/rsk/peg/BridgeUtilsTest.java
  rskj-core/src/test/java/co/rsk/peg/RskForksBridgeTest.java
  rskj-core/src/test/java/co/rsk/peg/StateForFederatorTest.java
  rskj-core/src/test/java/co/rsk/peg/performance/BridgePerformanceTestCase.java
  rskj-core/src/test/java/co/rsk/peg/performance/PrecompiledContractPerformanceTestCase.java
  rskj-core/src/test/java/co/rsk/remasc/RemascTestRunner.java
  rskj-core/src/test/java/co/rsk/vm/BlockchainVMTest.java
  rskj-core/src/test/java/co/rsk/vm/PrecompiledContractAddressTests.java
  rskj-core/src/test/java/co/rsk/vm/PrecompiledContractTest.java
  rskj-core/src/test/java/co/rsk/vm/VMExecutionTest.java
  rskj-core/src/test/java/co/rsk/vm/VMPerformanceTest.java
  rskj-core/src/test/java/co/rsk/vm/VMSpecificOpcodesPerformanceTest.java
  rskj-core/src/test/java/org/ethereum/config/RegtestBlockchainNetConfig.java
  rskj-core/src/test/java/org/ethereum/config/UnitTestBlockchainNetConfig.java
  rskj-core/src/test/java/org/ethereum/config/blockchain/upgrades/ActivationConfigsForTest.java
  rskj-core/src/test/java/org/ethereum/core/genesis/BlockchainLoaderTest.java
  rskj-core/src/test/java/org/ethereum/jsontestsuite/TestRunner.java
  rskj-core/src/test/java/org/ethereum/util/RskTestContext.java
  rskj-core/src/test/java/org/ethereum/util/RskTestFactory.java
  rskj-core/src/test/java/org/ethereum/vm/ProgramMemoryTest.java
  rskj-core/src/test/java/org/ethereum/vm/VMComplexTest.java
  rskj-core/src/test/java/org/ethereum/vm/VMCustomTest.java
  rskj-core/src/test/java/org/ethereum/vm/VMTest.java
Labels: tech debt & clean code

#861 Revert "Introduce a DisabledMinerClient"
  rskj-core/src/main/java/co/rsk/FullNodeRunner.java
  rskj-core/src/main/java/co/rsk/RskContext.java
  rskj-core/src/main/java/co/rsk/mine/DisabledMinerClient.java
  rskj-core/src/test/java/co/rsk/mine/AutoMinerClientTest.java
  rskj-core/src/test/java/co/rsk/mine/DisabledMinerClientTest.java
Labels: bug

#853 Reduce coupling on debug_traceTransaction implementation
  rskj-core/src/main/java/co/rsk/RskContext.java
  rskj-core/src/main/java/co/rsk/core/RskAddress.java
  rskj-core/src/main/java/co/rsk/core/TransactionExecutorFactory.java
  rskj-core/src/main/java/co/rsk/core/bc/BlockChainImpl.java
  rskj-core/src/main/java/co/rsk/core/bc/BlockExecutor.java
  rskj-core/src/main/java/co/rsk/core/bc/BlockExecutorFactory.java
  rskj-core/src/main/java/co/rsk/mine/BlockToMineBuilder.java
  rskj-core/src/main/java/co/rsk/rpc/modules/debug/DebugModuleImpl.java
  rskj-core/src/main/java/org/ethereum/core/TransactionExecutor.java
  rskj-core/src/main/java/org/ethereum/core/genesis/BlockChainLoader.java
  rskj-core/src/main/java/org/ethereum/vm/trace/FileProgramTraceProcessor.java
  rskj-core/src/main/java/org/ethereum/vm/trace/MemoryProgramTraceProcessor.java
  rskj-core/src/main/java/org/ethereum/vm/trace/ProgramTraceProcessor.java
  rskj-core/src/test/java/co/rsk/core/CallContractTest.java
  rskj-core/src/test/java/co/rsk/core/CodeReplaceTest.java
  rskj-core/src/test/java/co/rsk/core/TestTransactionExecutorFactory.java
  rskj-core/src/test/java/co/rsk/core/TransactionTest.java
  rskj-core/src/test/java/co/rsk/core/bc/BlockChainImplTest.java
  rskj-core/src/test/java/co/rsk/core/bc/BlockExecutorTest.java
  rskj-core/src/test/java/co/rsk/mine/MainNetMinerTest.java
  rskj-core/src/test/java/co/rsk/mine/MinerManagerTest.java
  rskj-core/src/test/java/co/rsk/mine/MinerServerTest.java
  rskj-core/src/test/java/co/rsk/mine/TransactionModuleTest.java
  rskj-core/src/test/java/co/rsk/net/SyncProcessorTest.java
  rskj-core/src/test/java/co/rsk/peg/RskForksBridgeTest.java
  rskj-core/src/test/java/co/rsk/remasc/RemascProcessMinerFeesTest.java
  rskj-core/src/test/java/co/rsk/remasc/RemascStorageProviderTest.java
  rskj-core/src/test/java/co/rsk/remasc/RemascTestRunner.java
  rskj-core/src/test/java/co/rsk/test/World.java
  rskj-core/src/test/java/co/rsk/test/builders/BlockBuilder.java
  rskj-core/src/test/java/co/rsk/test/builders/BlockChainBuilder.java
  rskj-core/src/test/java/co/rsk/test/dsl/WorldDslProcessor.java
  rskj-core/src/test/java/co/rsk/vm/MinerHelper.java
  rskj-core/src/test/java/org/ethereum/core/ImportLightTest.java
  rskj-core/src/test/java/org/ethereum/core/TransactionTest.java
  rskj-core/src/test/java/org/ethereum/jsontestsuite/TestRunner.java
  rskj-core/src/test/java/org/ethereum/jsontestsuite/runners/StateTestRunner.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplSnapshotTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplTest.java
  rskj-core/src/test/java/org/ethereum/util/ContractRunner.java
  rskj-core/src/test/java/org/ethereum/vm/trace/ProgramTraceProcessorTest.java
Labels: tech debt & clean code
