Repository rsksmart/rskj, pull requests merged in 2019-07, with the labels that each got.

#892 Security
  CONTRIBUTING.md
  README.md
  SECURITY.md
Labels: documentation

#900 Remove Repository#syncToRoot
  rskj-core/src/main/java/co/rsk/RskContext.java
  rskj-core/src/main/java/co/rsk/core/bc/BlockChainImpl.java
  rskj-core/src/main/java/co/rsk/core/bc/TransactionPoolImpl.java
  rskj-core/src/main/java/org/ethereum/core/Repository.java
  rskj-core/src/main/java/org/ethereum/core/genesis/BlockChainLoader.java
  rskj-core/src/main/java/org/ethereum/db/MutableRepository.java
  rskj-core/src/main/java/org/ethereum/vm/program/Storage.java
  rskj-core/src/test/java/co/rsk/core/CallContractTest.java
  rskj-core/src/test/java/co/rsk/core/SnapshotManagerTest.java
  rskj-core/src/test/java/co/rsk/core/bc/TransactionPoolImplTest.java
  rskj-core/src/test/java/co/rsk/db/RepositoryImplTest.java
  rskj-core/src/test/java/co/rsk/mine/TransactionModuleTest.java
  rskj-core/src/test/java/co/rsk/peg/RskForksBridgeTest.java
  rskj-core/src/test/java/co/rsk/remasc/RemascProcessMinerFeesTest.java
  rskj-core/src/test/java/co/rsk/remasc/RemascStorageProviderTest.java
  rskj-core/src/test/java/co/rsk/remasc/RemascTestRunner.java
  rskj-core/src/test/java/co/rsk/test/World.java
  rskj-core/src/test/java/co/rsk/test/builders/AccountBuilder.java
  rskj-core/src/test/java/co/rsk/test/builders/BlockChainBuilder.java
  rskj-core/src/test/java/co/rsk/test/builderstest/AccountBuilderTest.java
  rskj-core/src/test/java/co/rsk/test/dsl/WorldDslProcessor.java
  rskj-core/src/test/java/co/rsk/test/dsltest/WorldDslProcessorTest.java
  rskj-core/src/test/java/co/rsk/vm/BlockchainVMTest.java
  rskj-core/src/test/java/org/ethereum/core/ImportLightTest.java
  rskj-core/src/test/java/org/ethereum/jsontestsuite/TestRunner.java
  rskj-core/src/test/java/org/ethereum/rpc/LogFilterTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplLogsTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplTest.java
  rskj-core/src/test/java/org/ethereum/util/ContractRunner.java
Labels: core

#908 Remove Repository getter from Blockchain
  rskj-core/src/main/java/co/rsk/core/bc/BlockChainImpl.java
  rskj-core/src/main/java/org/ethereum/core/Blockchain.java
  rskj-core/src/test/java/co/rsk/core/CodeReplaceTest.java
  rskj-core/src/test/java/co/rsk/core/bc/BlockChainImplInvalidTest.java
  rskj-core/src/test/java/co/rsk/core/bc/BlockChainImplTest.java
  rskj-core/src/test/java/co/rsk/core/bc/BlockExecutorTest.java
  rskj-core/src/test/java/co/rsk/core/bc/BlockUtilsTest.java
  rskj-core/src/test/java/co/rsk/core/bc/BlockValidatorTest.java
  rskj-core/src/test/java/co/rsk/core/bc/TransactionPoolImplTest.java
  rskj-core/src/test/java/co/rsk/mine/MainNetMinerTest.java
  rskj-core/src/test/java/co/rsk/mine/TransactionModuleTest.java
  rskj-core/src/test/java/co/rsk/net/BlockSyncServiceTest.java
  rskj-core/src/test/java/co/rsk/net/NodeBlockProcessorTest.java
  rskj-core/src/test/java/co/rsk/net/NodeBlockProcessorUnclesTest.java
  rskj-core/src/test/java/co/rsk/net/NodeMessageHandlerTest.java
  rskj-core/src/test/java/co/rsk/net/SyncProcessorTest.java
  rskj-core/src/test/java/co/rsk/net/ThreeAsyncNodeUsingSyncProcessorTest.java
  rskj-core/src/test/java/co/rsk/net/TwoAsyncNodeUsingSyncProcessorTest.java
  rskj-core/src/test/java/co/rsk/net/simples/SimpleAsyncNode.java
  rskj-core/src/test/java/co/rsk/peg/BridgeSupportTest.java
  rskj-core/src/test/java/co/rsk/peg/RskForksBridgeTest.java
  rskj-core/src/test/java/co/rsk/peg/performance/BridgePerformanceTestCase.java
  rskj-core/src/test/java/co/rsk/remasc/RemascFederationProviderTest.java
  rskj-core/src/test/java/co/rsk/remasc/RemascStorageProviderTest.java
  rskj-core/src/test/java/co/rsk/test/World.java
  rskj-core/src/test/java/co/rsk/test/builders/BlockBuilder.java
  rskj-core/src/test/java/co/rsk/test/builders/BlockChainBuilder.java
  rskj-core/src/test/java/co/rsk/test/builderstest/BlockBuilderTest.java
  rskj-core/src/test/java/co/rsk/test/builderstest/BlockChainBuilderTest.java
  rskj-core/src/test/java/co/rsk/test/dsl/BlockBuildDslProcessor.java
  rskj-core/src/test/java/co/rsk/test/dsl/WorldDslProcessor.java
  rskj-core/src/test/java/org/ethereum/core/ImportLightTest.java
  rskj-core/src/test/java/org/ethereum/core/TransactionTest.java
  rskj-core/src/test/java/org/ethereum/db/ReceiptStoreImplTest.java
  rskj-core/src/test/java/org/ethereum/rpc/LogFilterTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplLogsTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplTest.java
  rskj-core/src/test/java/org/ethereum/util/ContractRunner.java
Labels: core

#910 Introduce a GenesisLoader component
  rskj-core/src/main/java/co/rsk/RskContext.java
  rskj-core/src/main/java/org/ethereum/config/SystemProperties.java
  rskj-core/src/main/java/org/ethereum/core/genesis/BlockChainLoader.java
  rskj-core/src/main/java/org/ethereum/core/genesis/GenesisLoader.java
  rskj-core/src/main/java/org/ethereum/core/genesis/GenesisLoaderImpl.java
  rskj-core/src/test/java/co/rsk/core/CodeReplaceTest.java
  rskj-core/src/test/java/co/rsk/core/bc/BlockChainImplInvalidTest.java
  rskj-core/src/test/java/co/rsk/core/bc/BlockChainImplTest.java
  rskj-core/src/test/java/co/rsk/core/bc/TransactionPoolImplTest.java
  rskj-core/src/test/java/co/rsk/core/genesis/TestGenesisLoader.java
  rskj-core/src/test/java/co/rsk/mine/MainNetMinerTest.java
  rskj-core/src/test/java/co/rsk/peg/BridgeTest.java
  rskj-core/src/test/java/co/rsk/peg/BridgeUtilsTest.java
  rskj-core/src/test/java/co/rsk/test/builders/BlockChainBuilder.java
  rskj-core/src/test/java/org/ethereum/core/TransactionTest.java
  rskj-core/src/test/java/org/ethereum/core/genesis/BlockchainLoaderTest.java
  rskj-core/src/test/java/org/ethereum/util/RskTestFactory.java
Labels: core :atom_symbol:, tech debt & clean code

#935 Support multiple addresses from Amazon checkip service
  rskj-core/src/main/java/org/ethereum/config/SystemProperties.java
  rskj-core/src/main/resources/reference.conf
Labels: bug

#936 Remove blockstore getter from blockchain
  rskj-core/src/main/java/co/rsk/RskContext.java
  rskj-core/src/main/java/co/rsk/core/SnapshotManager.java
  rskj-core/src/main/java/co/rsk/core/bc/BlockChainImpl.java
  rskj-core/src/main/java/co/rsk/rpc/modules/evm/EvmModuleImpl.java
  rskj-core/src/main/java/org/ethereum/core/Blockchain.java
  rskj-core/src/main/java/org/ethereum/rpc/Web3Impl.java
  rskj-core/src/test/java/co/rsk/core/CodeReplaceTest.java
  rskj-core/src/test/java/co/rsk/core/SnapshotManagerTest.java
  rskj-core/src/test/java/co/rsk/core/TransactionTest.java
  rskj-core/src/test/java/co/rsk/core/bc/BlockChainImplInvalidTest.java
  rskj-core/src/test/java/co/rsk/core/bc/BlockChainImplTest.java
  rskj-core/src/test/java/co/rsk/core/bc/BlockUtilsTest.java
  rskj-core/src/test/java/co/rsk/core/bc/BlockValidatorTest.java
  rskj-core/src/test/java/co/rsk/core/bc/TransactionPoolImplTest.java
  rskj-core/src/test/java/co/rsk/mine/MinerManagerTest.java
  rskj-core/src/test/java/co/rsk/mine/TransactionModuleTest.java
  rskj-core/src/test/java/co/rsk/net/NodeBlockProcessorUnclesTest.java
  rskj-core/src/test/java/co/rsk/net/SyncProcessorTest.java
  rskj-core/src/test/java/co/rsk/pcc/blockheader/BlockHeaderContractTest.java
  rskj-core/src/test/java/co/rsk/pcc/blockheader/EnvironmentUtils.java
  rskj-core/src/test/java/co/rsk/pcc/blockheader/GetCoinbasePerformanceTestCase.java
  rskj-core/src/test/java/co/rsk/peg/BridgeSupportTest.java
  rskj-core/src/test/java/co/rsk/peg/BridgeTest.java
  rskj-core/src/test/java/co/rsk/peg/RskForksBridgeTest.java
  rskj-core/src/test/java/co/rsk/peg/performance/BridgePerformanceTestCase.java
  rskj-core/src/test/java/co/rsk/remasc/RemascProcessMinerFeesTest.java
  rskj-core/src/test/java/co/rsk/remasc/RemascStorageProviderTest.java
  rskj-core/src/test/java/co/rsk/remasc/RemascTestRunner.java
  rskj-core/src/test/java/co/rsk/test/World.java
  rskj-core/src/test/java/co/rsk/test/builders/AccountBuilder.java
  rskj-core/src/test/java/co/rsk/test/builders/BlockBuilder.java
  rskj-core/src/test/java/co/rsk/test/builders/BlockChainBuilder.java
  rskj-core/src/test/java/co/rsk/test/builderstest/BlockBuilderTest.java
  rskj-core/src/test/java/co/rsk/test/dsl/BlockBuildDslProcessor.java
  rskj-core/src/test/java/co/rsk/test/dsl/WorldDslProcessor.java
  rskj-core/src/test/java/co/rsk/validators/BlockUnclesValidationRuleTest.java
  rskj-core/src/test/java/org/ethereum/core/ImportLightTest.java
  rskj-core/src/test/java/org/ethereum/core/TransactionTest.java
  rskj-core/src/test/java/org/ethereum/db/ReceiptStoreImplTest.java
  rskj-core/src/test/java/org/ethereum/rpc/LogFilterTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplLogsTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplScoringTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplSnapshotTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3Mocks.java
  rskj-core/src/test/java/org/ethereum/util/ContractRunner.java
Labels: tech debt & clean code
