Repository rsksmart/rskj, pull requests merged in 2019-10, with the labels that each got.

#1016 Rpc incomplete blockchain
  rskj-core/src/main/java/co/rsk/RskContext.java
  rskj-core/src/main/java/co/rsk/db/RepositoryLocator.java
  rskj-core/src/main/java/co/rsk/rpc/ExecutionBlockRetriever.java
  rskj-core/src/main/java/co/rsk/rpc/Web3InformationRetriever.java
  rskj-core/src/main/java/co/rsk/rpc/Web3RskImpl.java
  rskj-core/src/main/java/co/rsk/rpc/modules/eth/EthModule.java
  rskj-core/src/main/java/co/rsk/rpc/modules/eth/EthModuleTransactionBase.java
  rskj-core/src/main/java/co/rsk/rpc/modules/eth/EthModuleTransactionDisabled.java
  rskj-core/src/main/java/co/rsk/rpc/modules/eth/EthModuleWalletDisabled.java
  rskj-core/src/main/java/co/rsk/rpc/modules/eth/EthModuleWalletEnabled.java
  rskj-core/src/main/java/co/rsk/rpc/modules/evm/EvmModuleImpl.java
  rskj-core/src/main/java/co/rsk/rpc/modules/personal/PersonalModuleWalletEnabled.java
  rskj-core/src/main/java/co/rsk/rpc/modules/rsk/RskModuleImpl.java
  rskj-core/src/main/java/co/rsk/trie/MultiTrieStore.java
  rskj-core/src/main/java/co/rsk/trie/NodeReference.java
  rskj-core/src/main/java/co/rsk/trie/TrieStore.java
  rskj-core/src/main/java/co/rsk/trie/TrieStoreImpl.java
  rskj-core/src/main/java/org/ethereum/rpc/Web3Impl.java
  rskj-core/src/main/java/org/ethereum/rpc/exception/JsonRpcInvalidParamException.java
  rskj-core/src/main/java/org/ethereum/rpc/exception/JsonRpcUnimplementedMethodException.java
  rskj-core/src/main/java/org/ethereum/rpc/exception/RskJsonRpcRequestException.java
  rskj-core/src/test/java/co/rsk/core/bc/BlockExecutorTest.java
  rskj-core/src/test/java/co/rsk/db/RepositoryImplOriginalTest.java
  rskj-core/src/test/java/co/rsk/db/RepositoryLocatorTest.java
  rskj-core/src/test/java/co/rsk/db/RepositoryTest.java
  rskj-core/src/test/java/co/rsk/mine/TransactionModuleTest.java
  rskj-core/src/test/java/co/rsk/rpc/ExecutionFoundBlockRetrieverTest.java
  rskj-core/src/test/java/co/rsk/rpc/Web3EthModuleTest.java
  rskj-core/src/test/java/co/rsk/rpc/Web3ImplRpcTest.java
  rskj-core/src/test/java/co/rsk/rpc/Web3InformationRetrieverTest.java
  rskj-core/src/test/java/co/rsk/rpc/Web3RskImplTest.java
  rskj-core/src/test/java/co/rsk/test/DslFilesTest.java
  rskj-core/src/test/java/co/rsk/trie/MultiTrieStoreTest.java
  rskj-core/src/test/java/co/rsk/trie/TrieConverterTest.java
  rskj-core/src/test/java/co/rsk/trie/TrieSaveRetrieveTest.java
  rskj-core/src/test/java/co/rsk/trie/TrieStoreImplTest.java
  rskj-core/src/test/java/org/ethereum/TestUtils.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplLogsTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplScoringTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplSnapshotTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplUnitTest.java
Labels: core :atom_symbol:

#890 Add Code contributions section to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#1013 EXTCODEHASH Opcode
  rskj-core/src/main/java/co/rsk/db/MutableTrieCache.java
  rskj-core/src/main/java/co/rsk/db/MutableTrieImpl.java
  rskj-core/src/main/java/co/rsk/db/RepositorySnapshot.java
  rskj-core/src/main/java/co/rsk/trie/MutableTrie.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/upgrades/ConsensusRule.java
  rskj-core/src/main/java/org/ethereum/db/MutableRepository.java
  rskj-core/src/main/java/org/ethereum/vm/GasCost.java
  rskj-core/src/main/java/org/ethereum/vm/OpCode.java
  rskj-core/src/main/java/org/ethereum/vm/OpCodes.java
  rskj-core/src/main/java/org/ethereum/vm/VM.java
  rskj-core/src/main/java/org/ethereum/vm/program/Program.java
  rskj-core/src/main/java/org/ethereum/vm/program/Storage.java
  rskj-core/src/main/resources/reference.conf
  rskj-core/src/test/java/co/rsk/db/MutableTrieCacheTest.java
  rskj-core/src/test/java/co/rsk/db/RepositoryTest.java
  rskj-core/src/test/java/co/rsk/vm/ExtCodeHashTest.java
  rskj-core/src/test/java/org/ethereum/config/blockchain/upgrades/ActivationConfigTest.java
  rskj-core/src/test/java/org/ethereum/vm/program/invoke/ProgramInvokeMockImpl.java
Labels: core :atom_symbol:, network-upgrade 🌱

#1017 Add filter support to eth_subscribe log method
  rskj-core/src/main/java/co/rsk/rpc/modules/eth/subscribe/EthSubscribeLogsParams.java
  rskj-core/src/main/java/co/rsk/rpc/modules/eth/subscribe/LogsNotification.java
  rskj-core/src/main/java/co/rsk/rpc/modules/eth/subscribe/LogsNotificationEmitter.java
  rskj-core/src/main/java/org/ethereum/rpc/AddressesTopicsFilter.java
  rskj-core/src/main/java/org/ethereum/rpc/Topic.java
  rskj-core/src/test/java/co/rsk/rpc/modules/eth/subscribe/EthSubscribeRequestTest.java
  rskj-core/src/test/java/co/rsk/rpc/modules/eth/subscribe/LogsNotificationEmitterTest.java
  rskj-core/src/test/java/co/rsk/rpc/modules/eth/subscribe/LogsNotificationTest.java
Labels: core :atom_symbol:

#1035 lightprocessor added
  rskj-core/src/main/java/co/rsk/RskContext.java
  rskj-core/src/main/java/co/rsk/net/NodeMessageHandler.java
  rskj-core/src/main/java/co/rsk/net/light/LightProcessor.java
  rskj-core/src/main/java/co/rsk/net/messages/BlockReceiptsRequestMessage.java
  rskj-core/src/main/java/co/rsk/net/messages/BlockReceiptsResponseMessage.java
  rskj-core/src/main/java/co/rsk/net/messages/MessageType.java
  rskj-core/src/main/java/co/rsk/net/messages/MessageVisitor.java
  rskj-core/src/test/java/co/rsk/net/LightProcessorTest.java
  rskj-core/src/test/java/co/rsk/net/NodeMessageHandlerTest.java
  rskj-core/src/test/java/co/rsk/net/NodeMessageHandlerUtil.java
  rskj-core/src/test/java/co/rsk/net/OneAsyncNodeTest.java
  rskj-core/src/test/java/co/rsk/net/TwoAsyncNodeTest.java
  rskj-core/src/test/java/co/rsk/net/TwoNodeTest.java
  rskj-core/src/test/java/co/rsk/net/messages/BlockReceiptsRequestMessageTest.java
  rskj-core/src/test/java/co/rsk/net/messages/BlockReceiptsResponseMessageTest.java
  rskj-core/src/test/java/co/rsk/net/messages/MessageTest.java
  rskj-core/src/test/java/co/rsk/net/messages/MessageVisitorTest.java
  rskj-core/src/test/java/co/rsk/net/simples/SimpleAsyncNode.java
Labels: light client
