Repository rsksmart/rskj, pull requests merged in 2020-11, with the labels that each got.

#1361 #1346: Add static factory methods for BlockProcessResult
  rskj-core/src/main/java/co/rsk/net/BlockProcessResult.java
  rskj-core/src/main/java/co/rsk/net/BlockSyncService.java
  rskj-core/src/test/java/co/rsk/net/BlockProcessResultTest.java
  rskj-core/src/test/java/co/rsk/net/simples/SimpleBlockProcessor.java
Labels: core :atom_symbol:, good first issue, refactor, tech debt & clean code

#1258 Implementation of Recovery Signature with Native Library
  gradle/verification-metadata.xml
  rskj-core/build.gradle
  rskj-core/src/main/java/org/ethereum/crypto/signature/ECDSASignature.java
  rskj-core/src/main/java/org/ethereum/crypto/signature/Secp256k1.java
  rskj-core/src/main/java/org/ethereum/crypto/signature/Secp256k1ServiceBC.java
  rskj-core/src/main/java/org/ethereum/crypto/signature/Secp256k1ServiceNative.java
  rskj-core/src/main/resources/reference.conf
  rskj-core/src/test/java/co/rsk/core/BlockFactoryTest.java.rej
  rskj-core/src/test/java/co/rsk/core/CallContractTest.java
  rskj-core/src/test/java/co/rsk/core/TransactionTest.java
  rskj-core/src/test/java/co/rsk/core/bc/BlockValidatorTest.java
  rskj-core/src/test/java/co/rsk/peg/RskForksBridgeTest.java
  rskj-core/src/test/java/org/ethereum/core/TransactionTest.java
  rskj-core/src/test/java/org/ethereum/crypto/signature/Secp256k1ServiceNativeTest.java
  rskj-core/src/test/java/org/ethereum/crypto/signature/Secp256k1ServiceTest.java
  rskj-core/src/test/java/org/ethereum/crypto/signature/Secp256k1Test.java
Labels: core :atom_symbol:, enhancement, performance

#1299 Preserve Txn revert reason
  rskj-core/src/main/java/co/rsk/rpc/modules/eth/EthModule.java
  rskj-core/src/main/java/org/ethereum/rpc/exception/RskJsonRpcRequestException.java
  rskj-core/src/test/java/co/rsk/rpc/modules/eth/EthModuleDLSTest.java
  rskj-core/src/test/java/co/rsk/rpc/modules/eth/EthModuleTest.java
  rskj-core/src/test/resources/dsl/eth_module/revert_reason.txt
Labels: enveloping
