Repository rsksmart/rskj, pull requests merged in 2020-09, with the labels that each got.

#1281 Fix issue #1264 incompatible EXTCODEHASH implementation, with hardfork
  rskj-core/src/main/java/co/rsk/db/MutableTrieCache.java
  rskj-core/src/main/java/co/rsk/db/MutableTrieImpl.java
  rskj-core/src/main/java/co/rsk/db/RepositorySnapshot.java
  rskj-core/src/main/java/co/rsk/trie/MutableTrie.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/upgrades/ConsensusRule.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/upgrades/NetworkUpgrade.java
  rskj-core/src/main/java/org/ethereum/db/MutableRepository.java
  rskj-core/src/main/java/org/ethereum/vm/VM.java
  rskj-core/src/main/java/org/ethereum/vm/program/Program.java
  rskj-core/src/main/java/org/ethereum/vm/program/Storage.java
  rskj-core/src/main/resources/config/main.conf
  rskj-core/src/main/resources/config/regtest.conf
  rskj-core/src/main/resources/config/testnet.conf
  rskj-core/src/main/resources/expected.conf
  rskj-core/src/main/resources/reference.conf
  rskj-core/src/test/java/co/rsk/db/MutableTrieCacheTest.java
  rskj-core/src/test/java/co/rsk/db/RepositoryTest.java
  rskj-core/src/test/java/co/rsk/test/World.java
  rskj-core/src/test/java/co/rsk/test/dsl/WorldDslProcessor.java
  rskj-core/src/test/java/co/rsk/vm/Create2Test.java
  rskj-core/src/test/java/co/rsk/vm/ExtCodeHashDslTest.java
  rskj-core/src/test/java/org/ethereum/config/blockchain/upgrades/ActivationConfigTest.java
  rskj-core/src/test/resources/dsl/extcodehash/extcodehash_address_does_not_exist.txt
  rskj-core/src/test/resources/dsl/extcodehash/extcodehash_address_exists_but_not_contract.txt
  rskj-core/src/test/resources/dsl/extcodehash/extcodehash_with_cache_empty_deploy.txt
  rskj-core/src/test/resources/dsl/extcodehash/extcodehash_without_cache_empty_deploy.txt
  rskj-core/src/test/resources/test-rskj.conf
Labels: compatibility, core :atom_symbol:, network-upgrade 🌱

#1292 Fix index DB shutdown NPE
  rskj-core/src/main/java/co/rsk/RskContext.java
  rskj-core/src/main/java/co/rsk/core/bc/BlockChainFlusher.java
  rskj-core/src/main/java/co/rsk/db/BlocksIndex.java
  rskj-core/src/main/java/co/rsk/db/MapDBBlocksIndex.java
  rskj-core/src/main/java/org/ethereum/db/BlockStore.java
  rskj-core/src/main/java/org/ethereum/db/IndexedBlockStore.java
  rskj-core/src/test/java/co/rsk/db/HashMapBlocksIndex.java
  rskj-core/src/test/java/org/ethereum/db/BlockStoreDummy.java
Labels: bug, core :atom_symbol:

#1305 Change log level jsonrpc4j
  rskj-core/src/main/java/co/rsk/rpc/netty/JsonRpcWeb3ServerHandler.java
  rskj-core/src/main/resources/logback.xml
Labels: core :atom_symbol:, enhancement

#1304 Create OP_RETURN parser
  rskj-core/src/main/java/co/rsk/peg/pegininstructions/NoOpReturnException.java
  rskj-core/src/main/java/co/rsk/peg/pegininstructions/PeginInstructions.java
  rskj-core/src/main/java/co/rsk/peg/pegininstructions/PeginInstructionsBase.java
  rskj-core/src/main/java/co/rsk/peg/pegininstructions/PeginInstructionsException.java
  rskj-core/src/main/java/co/rsk/peg/pegininstructions/PeginInstructionsParseException.java
  rskj-core/src/main/java/co/rsk/peg/pegininstructions/PeginInstructionsProvider.java
  rskj-core/src/main/java/co/rsk/peg/pegininstructions/PeginInstructionsVersion1.java
  rskj-core/src/main/java/co/rsk/peg/utils/BtcTransactionFormatUtils.java
  rskj-core/src/test/java/co/rsk/peg/pegininstructions/PeginInstructionsBaseTest.java
  rskj-core/src/test/java/co/rsk/peg/pegininstructions/PeginInstructionsProviderTest.java
  rskj-core/src/test/java/co/rsk/peg/pegininstructions/PeginInstructionsVersion1Test.java
  rskj-core/src/test/java/co/rsk/peg/pegininstructions/RawTransactions.java
  rskj-core/src/test/java/co/rsk/peg/utils/BtcTransactionFormatUtilsTest.java
Labels: federation 💫

#1296 Clean returnDataBuffer for call-like opcodes
  rskj-core/src/main/java/co/rsk/net/handler/txvalidator/TxValidatorMinimuGasPriceValidator.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/upgrades/ConsensusRule.java
  rskj-core/src/main/java/org/ethereum/vm/VM.java
  rskj-core/src/main/java/org/ethereum/vm/program/Program.java
  rskj-core/src/main/resources/config/devnet.conf
  rskj-core/src/main/resources/expected.conf
  rskj-core/src/main/resources/reference.conf
  rskj-core/src/test/java/org/ethereum/config/blockchain/upgrades/ActivationConfigTest.java
  rskj-core/src/test/java/org/ethereum/vm/VMTest.java
Labels: core :atom_symbol:, network-upgrade 🌱

#1302 Subroutines in EVM
  rskj-core/src/main/java/org/ethereum/config/blockchain/upgrades/ConsensusRule.java
  rskj-core/src/main/java/org/ethereum/vm/OpCode.java
  rskj-core/src/main/java/org/ethereum/vm/OpCodes.java
  rskj-core/src/main/java/org/ethereum/vm/VM.java
  rskj-core/src/main/java/org/ethereum/vm/program/Program.java
  rskj-core/src/main/resources/expected.conf
  rskj-core/src/main/resources/reference.conf
  rskj-core/src/test/java/co/rsk/vm/VMExecutionTest.java
  rskj-core/src/test/java/org/ethereum/config/blockchain/upgrades/ActivationConfigTest.java
Labels: VM, core :atom_symbol:, network-upgrade 🌱

#1310 Create pull_request_template.md
  .github/pull_request_template.md
Labels: core :atom_symbol:, documentation, enhancement

#1283 Fix how missing signatures are counted
  rskj-core/src/main/java/co/rsk/peg/BridgeSupport.java
  rskj-core/src/main/java/co/rsk/peg/BridgeUtils.java
  rskj-core/src/test/java/co/rsk/peg/BridgeUtilsTest.java
Labels: federation 💫

#1311 Fixed issue when contract deployment burns previous balance
  rskj-core/src/main/java/org/ethereum/config/blockchain/upgrades/ConsensusRule.java
  rskj-core/src/main/java/org/ethereum/core/Repository.java
  rskj-core/src/main/java/org/ethereum/core/TransactionExecutor.java
  rskj-core/src/main/java/org/ethereum/vm/program/Program.java
  rskj-core/src/main/resources/expected.conf
  rskj-core/src/main/resources/reference.conf
  rskj-core/src/test/java/co/rsk/db/RepositoryTest.java
  rskj-core/src/test/java/co/rsk/test/DslFilesTest.java
  rskj-core/src/test/java/co/rsk/vm/Create2Test.java
  rskj-core/src/test/java/co/rsk/vm/VMExecutionTest.java
  rskj-core/src/test/java/org/ethereum/config/blockchain/upgrades/ActivationConfigTest.java
  rskj-core/src/test/resources/dsl/create_and_preserve_balance.txt
  rskj-core/src/test/resources/dsl/create_and_preserve_no_balance.txt
Labels: core :atom_symbol:, network-upgrade 🌱
