Repository rsksmart/rskj, pull requests merged in 2021-02, with the labels that each got.

#1400 RSKIP-185: Peg-out refund and new events
  rskj-core/src/main/java/co/rsk/peg/BridgeEvents.java
  rskj-core/src/main/java/co/rsk/peg/BridgeSupport.java
  rskj-core/src/main/java/co/rsk/peg/utils/BridgeEventLogger.java
  rskj-core/src/main/java/co/rsk/peg/utils/BridgeEventLoggerImpl.java
  rskj-core/src/main/java/co/rsk/peg/utils/RejectedPegoutReason.java
  rskj-core/src/main/java/org/ethereum/config/blockchain/upgrades/ConsensusRule.java
  rskj-core/src/main/java/org/ethereum/solidity/SolidityType.java
  rskj-core/src/main/resources/expected.conf
  rskj-core/src/main/resources/reference.conf
  rskj-core/src/test/java/co/rsk/peg/BridgeSupportReleaseBtcTest.java
  rskj-core/src/test/java/co/rsk/peg/BridgeSupportTest.java
  rskj-core/src/test/java/co/rsk/peg/utils/BridgeEventLoggerImplTest.java
  rskj-core/src/test/java/org/ethereum/config/blockchain/upgrades/ActivationConfigTest.java
Labels: federation 💫, network-upgrade 🌱

#1428 fix native configs
  rskj-core/src/main/resources/reference.conf
Labels: bug

#1314 BLAKE2 Compression Function F Precompile
  rskj-core/src/main/java/org/ethereum/config/blockchain/upgrades/ConsensusRule.java
  rskj-core/src/main/java/org/ethereum/crypto/cryptohash/Blake2b.java
  rskj-core/src/main/java/org/ethereum/vm/PrecompiledContracts.java
  rskj-core/src/main/resources/expected.conf
  rskj-core/src/main/resources/reference.conf
  rskj-core/src/test/java/co/rsk/blockchain/BlockchainTest.java
  rskj-core/src/test/java/co/rsk/test/DslFilesTest.java
  rskj-core/src/test/java/co/rsk/vm/ExtCodeHashDslTest.java
  rskj-core/src/test/java/co/rsk/vm/precompiles/PrecompiledContractsCallErrorHandlingTests.java
  rskj-core/src/test/java/co/rsk/vm/precompiles/blake2b/Blake2bEipExampleTest.java
  rskj-core/src/test/java/org/ethereum/config/blockchain/upgrades/ActivationConfigTest.java
  rskj-core/src/test/java/org/ethereum/core/util/TransactionReceiptUtil.java
  rskj-core/src/test/java/org/ethereum/crypto/cryptohash/Blake2bTest.java
  rskj-core/src/test/java/org/ethereum/rpc/Web3ImplSnapshotTest.java
  rskj-core/src/test/java/org/ethereum/vm/PrecompiledContractTest.java
  rskj-core/src/test/resources/dsl/blake2b/eip_152_example.txt
  rskj-core/src/test/resources/dsl/contract_call/precompiled_error_handling.txt
  rskj-core/src/test/resources/test-rskj.conf
Labels: compatibility, core :atom_symbol:, network-upgrade 🌱
